// COMMON STYLES
* {
    box-sizing: border-box;
}

.cf::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-top: 3px solid $orange;
}